@import '../../../assets/fonts/fontsCss/Fonts';
@import '../../../assets/colorsCss/Colors';

.navbar{
    width: 100%;
    height: 8dvh;

    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    padding-top: 1dvw;
    font-family: 'Metropolis', 'Gidolinya', sans-serif;
    font-weight: 600;
    font-size: 1.0625dvw;//30px;
    transition: background-color 0.3s ease, padding 0.3s ease;
    a {
        color: $mainDarkColor;
        text-decoration: none;
        padding-left: 2.58dvw;
        &:hover{
            color: $secondGreen;
        }
    }
    div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    #rigthDiv {
        padding-right: 2.58dvw;
    }
    .logo {
        transition: font-size 0.3s ease;
      }
}


#mainLogo{
    width: 3.9763dvw;
    display: flex;
    justify-content: center;
}

#mainLogoReference{
    padding: 0;
}