@import '../assets/fonts/Fonts';
@import '../assets/Colors';

.navbar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5625dvw;//30px;
    padding-top: 1dvw;
    box-sizing: border-box;
    justify-content: space-between;
    font-family: 'Gidolinya'; //'Metropolis', 'Gidolinya', sans-serif;
    font-weight: 800;
    a {
        color: $mainDarkColor;
        text-decoration: none;
        padding-left: 2.58dvw;
        &:hover{
            color: $secondGreen;
        }
    }
    div{
        height: 4dvw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    #rigthDiv {
        padding-right: 2.58dvw;
    }
}


#mainLogo{
    width: 3.9763dvw;
    display: flex;
    justify-content: center;
}

#mainLogoReference{
    padding: 0;
}