@font-face {
  font-family: 'Gidolinya';
  src: url('../assets/fonts/GidolinyaRegular.otf') format('opentype');
}

@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/MetropolisBlack.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../assets/fonts/MetropolisBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}